/* Shared Style  */
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    padding: 80px 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

img {
    width: 100%;
    height: 100%;
}

p {
    color: grey;
}

.container {
    width: 1100px;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.btn-style {
    background-color: #e55473;
    color: white;
    font-weight: 700;
    padding: 15px 30px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

/* Header Section Style  */
.menu-container {
    display: flex;
    list-style: none;
    width: 500px;
    justify-content: space-evenly;
}

.menu-container a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #111010;
}

header {
    background-color: #fceef1;
}

.header-desc {
    width: 50%;
}

/* Featured Section Style  */
.section-heading {
    text-align: center;
    padding-bottom: 50px;
}

.flower-box {
    text-align: center;
}

.flw-img {
    height: 300px;
    padding: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 300px
}

.flw-bg-1 {
    background-color: #f1dde7;
}

.flw-bg-2 {
    background-color: #d9eff0;
}

.flw-bg-3 {
    background-color: #e3ebdb;
}

/* Discount Section Style  */
.discount-bg {
    background-color: #fdf6f8;
}

.red-text {
    color: #e55473;
}

.discount-desc {
    width: 500px;
    text-align: center;
    padding: 100px 0;
}

/* Subscription Section Style  */
.subscript-bg {
    background-image: url(./resource/Rectangle\ 9.png);
    height: 350px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscript-desc {
    padding-top: 50px;
}

.Subscribe-input-container {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.email-input {
    width: 90%;
    padding-left: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    margin-right: 10px;
}

/* Footer Style */
footer {
    background-color: #111010;
    padding: 50px 0;
}

.section-heading h1 {
    color: white;
}